<div class="container-fluid">
  <div class="wrapper-contact">
    <h1>Me contacter</h1>
      <div class="col-sm-6">
        <div class="punch">
          <h2>Vous avez une ou plusieur question ?
          je suis la pour vous repondre.</h2>
          <p>MBdesign - pau 64000</p>
        </div>
      <div class="number">
        <div class="contacter">
          <h2>Contact</h2>
        </div>
        <br>
        <p>Tél: 07.78.82.09.73</p>
        <p style="margin: 0 0 20px;">MetalB.bastien.j@gmail.com</p>
      </div>
    </div>
    <div class="col-sm-6">
      <%= render "formcontact" %>
    </div>
  </div>
</div>
<div class="clear"></div>