* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

::selection {
  background-color: #e44646;
  color: #ffffff;
}

::-moz-selection {
  background-color: #e44646;
  color: #ffffff;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}
#logoNav{
  width: 11%;
  height: auto;
}
.menu-flex {
  background:rgba(187, 174, 152,.7);
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 200;
  height:auto;
  cursor: pointer;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 100%;
  width: 90%;
  cursor: pointer;
}

.logo-menu {
  display: inline-block;
  margin-right: 1em;
}
.fa{
  color: #ffffff;
}
.title-logo-menu {
  color: #ffffff;
  font-size: 1.35em;
  text-shadow: 1px 1px 5px #000000;
  transition: 0.3s ease all;
  text-decoration: none;
}

.title-logo-menu:hover,
.title-logo-menu:focus,
.title-logo-menu:active {
  -webkit-background-clip: text;
  background-image: linear-gradient(#ffffff 50%, #ffffff 100%);
  text-shadow: 0 0 15px #ffffff;
  text-decoration: none !important;
}

.btn-menu {
  text-decoration: none;
  color: #ffffff;
  display: none;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px #000000;
  cursor: pointer;
}

.links {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  font-size: 1.45em;

}

.links-menu:before {
  content: '';
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 100%;
  z-index: -1;
}

.links-menu {
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  padding: 1em;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
  color: white !important;

}

.links-menu:hover:before,
.links-menu:focus:before,
.links-menu:active:before {
  background:rgba(236, 180, 148,.7);
  height: 100%;
  left: 0;
}

.links-menu-active:before {
  content: none;
  text-decoration: none !important;
}

.links-menu-active {
  background:rgba(236, 180, 148,.7);
  height:100%;
}

.icons-menu {
  margin-right: 5px;
}

.first-section:before {
  background-attachment: fixed;
  background-color: rgba(255, 0, 0, 0.1);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.first-section {
  background: url(asset-path("backform.png")) #1c1c1c center center / cover no-repeat fixed;
  height: 60vh;
  width: 100%;
  z-index: 100;
}

.ctn-title {
  color: #ffffff;
  font: bold 2em 'Dancing Script', sans-serif;
  left: 50%;
  letter-spacing: 5px;
  position: absolute;
  text-shadow: 1px 1px 10px #000000;
  top: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 900px) {
  .menu {
    flex-direction: column;
  }

  .logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    width: 100%;
  }

  .title-logo-menu {
    font-size: 1.25em;
  }

  .btn-menu {
    display: block;
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .links-menu {
    margin: 10px;
  }
  #logoNav{
    width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .ctn-title {
    font-size: 20px;
    text-align: center;
  }
}
